body {
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header header'
        'nav nav'
        'slider slider'
        'left right'
        'footer footer';
    grid-gap: 10px;
    grid-template-rows: auto auto auto auto auto;
}

#header {
    grid-area: header;
    background-color: #0466c8;
    color: white;
    text-align: center;
}

#navigation {
    grid-area: nav;
    background-color: #001233;
    text-align: right;
    font-size: 20px;
}

#navigation li {
    display: inline;
}

#navigation a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

#navigation li a:hover {
    background-color: #979dac;
    color: black;
}

#slideshow {
    grid-area: slider;
    background-color: firebrick;
    color: white;
    text-align: center;
}

.slide img {
    width: 100%;
    max-height: 700px;
    display: block;
}

#left-section {
    grid-area: left;
    background: #023e7d;
    padding: 10px;
    color: white;
    text-align: center;
}

.card {
    padding: 10px;
    height: auto;
}

.cards{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
}

/* Responsive Layout - Kartice */
  /* Širina ekrana veća od 600px? Prikaži kartice u jednoj koloni (1 column) */
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(1, 1fr); }
  }
  
  /* Širina ekrana veća od 900px? Prikaži kartice u dve kolone (2 column) */
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

  /* Širina ekrana veća od 1200px? Prikaži kartice u tri kolone (3 column) */
  @media (min-width: 1200px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}

#right-section {
    grid-area: right;
    background-color: #33415c;
    color: white;
    text-align: center;
    padding: 10px;
}

#right-section a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#footer{
    grid-area: footer;
    text-align: center;
    background-color: #979dac;
}

/* Responsive Design */
@media (max-width: 600px) {
    .grid-container  {
      grid-template-areas:
        'header'
        'slider'
        'nav'
        'left'
        'right'
        'footer';
    }

    /* Responsive design - Struktura stranice.

    /* Navigation */
    #navigation ul {
      padding: 0;
    }

    #navigation li {
      padding: 10px;
      display: block;
    }

    #navigation a {
      padding: 0;
      text-decoration: none;
    }
  }
